{{!-- 
<main class="container container-fluid mt-5">
    <div class="row">
        <div class="text-center mx-auto pt-2 user-name">
            <h1>Bookclub's Blog</h>
        </div>
    </div>
    <div class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-auto text-left mt-5">
                {{#if blogPosts.length}}
                    {{#each blogPosts as |blogPost|}}
                        {{> dashboardPost blogPost}}
                        <br>
                    {{/each}}
                {{/if}}
            </div>
            </div>
        </div>

        {{#if (is_my_page user.id userId)}}
        <div class="container">
            <div class="row text-center">
                <a href="/createpost"><button class="btn is-dark mt-3">Create a post!</button></a>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
        {{else}}
        <div class="container">
            <div class="row justify-content-center">
                <p>This user hasn't created any posts yet!</p>
            </div>
        </div>
        {{/if}}
    </div>
</main>

<script src="/js/dashboard.js"></script> --}}



<div class="container">
  <div class="row homepage-main">
    {{#each blogPosts as |blogPost|}}
      <div class="subrow mb-4 project card text-dark shadow">
        <div class="card-header">
          <h3>
            <a href="/post/{{blogPost.id}}">{{blogPost.name}}</a>
          </h3>
          <p>Created on
            {{format_date blogPost.date_created}}</p>
        </div>
        <div class="card-body">
          <p>{{blogPost.name}} - {{blogPost.description}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<!-- Render script for logged in users only -->
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}