
<div class="container">
  <div class="row homepage-main">
    {{#each blogPosts as |blogPost|}}
      <div class="subrow mb-4 project card text-dark shadow">
        <div class="card-header">
          <h3>
            <a href="/post/{{blogPost.id}}">{{blogPost.name}}</a>
          </h3>
          <p>Created on
            {{format_date blogPost.date_created}}</p>
        </div>
        <div class="card-body">
          <p>{{blogPost.name}} - {{blogPost.description}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<!-- Render script for logged in users only -->
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}