{{!-- <main class="container container-fluid mt-5">
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>Book Club Blog</h1>
    </header> --}}
    <!--cards for blog posts -->
    {{!-- <main class="container container-fluid mt-5">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Post:

            <a href="/readpost/{{post.id}}">{{post.title}}</a>
          </h5>
        </div>
      </div> --}}
      {{!-- <p>Posted by {{post.user.name}} Posted on {{format_date post.date_created}}</p> --}}
      {{!-- <div class="card" style="width: 18rem;">
        <div class="card-body">

          <h5 class="card-title">Post:
            <a href="/readpost/{{post.id}}">{{post.title}}</a>
          </h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Post:
            <a href="/readpost/{{post.id}}">{{post.title}}</a>
          </h5>
        </div>
      </div> --}}
      {{!-- <p>Posted by {{post.user.name}} Posted on {{format_date post.date_created}}</p> --}}
      {{!-- <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Post:
            <a href="/readpost/{{post.id}}">{{post.title}}</a>
          </h5>
        </div>
      </div>
  </div>
</main> --}}
<div class="container">
  <div class="row homepage-main">
    {{#each blogPosts as |blogPost|}}
      <div class="subrow mb-4 project card text-dark shadow">
        <div class="card-header">
          <h3>
            <a href="/post/{{blogPost.id}}">{{blogPost.name}}</a>
          </h3>
          <p>Created on
            {{format_date blogPost.date_created}}</p>
        </div>
        <div class="card-body">
          <p>{{blogPost.name}} - {{blogPost.description}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<!-- Render script for logged in users only -->
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}